<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./Header.css" />
    <title>Header</title>
  </head>
  <body>
    <!-- STANDARD -->
    <div class="example-container">
      <header class="header">
        <div>
          <span class="material-icons icon"> menu </span>
          <h2 class="header-title">Standard</h2>
        </div>
        <ul class="header-controls">
          <li><span class="material-icons icon"> download </span></li>
          <li><span class="material-icons icon"> print </span></li>
          <li><span class="material-icons icon"> bookmark </span></li>
        </ul>
      </header>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
    </div>
    <!-- FIXED -->
    <div class="example-container">
      <header class="header fixed">
        <div>
          <span class="material-icons icon"> menu </span>
          <h2 class="header-title">Fixed</h2>
        </div>
        <ul class="header-controls">
          <li><span class="material-icons icon"> download </span></li>
          <li><span class="material-icons icon"> print </span></li>
          <li><span class="material-icons icon"> bookmark </span></li>
        </ul>
      </header>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut aut
        blanditiis facere. Animi provident neque sint, eligendi mollitia aperiam
        consequuntur officiis facere doloremque. Accusantium reiciendis quasi,
        recusandae facilis atque eveniet expedita. Fuga aut praesentium,
        ducimus, ut hic debitis officiis ad eius mollitia dolor tempore, ullam
        labore voluptatem. Repellat a optio sapiente in enim ut suscipit
        voluptas deleniti nulla velit sed omnis odit commodi possimus expedita
        fuga, tempore, architecto quidem eos, non accusantium minus voluptate!
        Qui iste minus cumque est cum quidem itaque! Sit dolores obcaecati
        ratione ea earum officiis, maiores impedit nesciunt sapiente unde
        assumenda! Adipisci sequi et cumque.
      </p>
    </div>
  </body>
</html>
