<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./Card.css" />
    <title>Card</title>
  </head>
  <body>
    <!-- Basic -->
    <h2 class="header-primary">Basic</h2>
    <div class="card">
      <div class="card-content">
        <img
          class="card-banner"
          src="https://i.picsum.photos/id/1041/5184/2916.jpg?hmac=TW_9o6HeD7H7I7NVo-S1Fa1iAvzQ10uvmJqsXvNoi0M"
        />
        <div class="card-text-primary">
          <h2 class="title">Our Changing Planet</h2>
          <h3 class="subtitle">by Kurt Wagner</h3>
        </div>
        <div class="card-text-secondary">
          <p>
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
      </div>
      <div class="card-controls">
        <div class="btn-container">
          <a class="btn" href="#">READ</a>
          <a class="btn" href="#">BOOKMARK</a>
        </div>
        <div class="icon-container">
          <i class="icon far fa-heart"></i>
          <i class="icon fas fa-share-alt"></i>
          <i class="icon fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <!-- Basic w/ Text over media -->
    <h2 class="header-primary">Basic w/ Text over media</h2>
    <div class="card text-over-media">
      <div class="card-content">
        <img
          class="card-banner"
          src="https://i.picsum.photos/id/1041/5184/2916.jpg?hmac=TW_9o6HeD7H7I7NVo-S1Fa1iAvzQ10uvmJqsXvNoi0M"
        />
        <div class="card-text-primary">
          <h2 class="title">Our Changing Planet</h2>
          <h3 class="subtitle">by Kurt Wagner</h3>
        </div>
        <div class="card-text-secondary">
          <p>
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
      </div>
      <div class="card-controls">
        <div class="btn-container">
          <a class="btn" href="#">READ</a>
          <a class="btn" href="#">BOOKMARK</a>
        </div>
        <div class="icon-container">
          <i class="icon far fa-heart"></i>
          <i class="icon fas fa-share-alt"></i>
          <i class="icon fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <!-- Basic w/ Header -->
    <h2 class="header-primary">Basic w/ Header</h2>
    <div class="card with-header">
      <div class="card-content">
        <img
          class="card-banner"
          src="https://i.picsum.photos/id/1041/5184/2916.jpg?hmac=TW_9o6HeD7H7I7NVo-S1Fa1iAvzQ10uvmJqsXvNoi0M"
        />
        <div class="card-text-primary">
          <h2 class="title">Our Changing Planet</h2>
          <h3 class="subtitle">by Kurt Wagner</h3>
        </div>
        <div class="card-text-secondary">
          <p>
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
      </div>
      <div class="card-controls">
        <div class="btn-container">
          <a class="btn" href="#">READ</a>
          <a class="btn" href="#">BOOKMARK</a>
        </div>
        <div class="icon-container">
          <i class="icon far fa-heart"></i>
          <i class="icon fas fa-share-alt"></i>
          <i class="icon fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <!-- Basic w/ Only buttons -->
    <h2 class="header-primary">Basic w/ Only buttons</h2>
    <div class="card only-buttons">
      <div class="card-content">
        <img
          class="card-banner"
          src="https://i.picsum.photos/id/1041/5184/2916.jpg?hmac=TW_9o6HeD7H7I7NVo-S1Fa1iAvzQ10uvmJqsXvNoi0M"
        />
        <div class="card-text-primary">
          <h2 class="title">Our Changing Planet</h2>
          <h3 class="subtitle">by Kurt Wagner</h3>
        </div>
        <div class="card-text-secondary">
          <p>
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
      </div>
      <div class="card-controls">
        <div class="btn-container">
          <a class="btn" href="#">READ</a>
          <a class="btn" href="#">BOOKMARK</a>
        </div>
        <div class="icon-container">
          <i class="icon far fa-heart"></i>
          <i class="icon fas fa-share-alt"></i>
          <i class="icon fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <!-- Basic w/ Only icons -->
    <h2 class="header-primary">Basic w/ Only buttons</h2>
    <div class="card only-icons">
      <div class="card-content">
        <img
          class="card-banner"
          src="https://i.picsum.photos/id/1041/5184/2916.jpg?hmac=TW_9o6HeD7H7I7NVo-S1Fa1iAvzQ10uvmJqsXvNoi0M"
        />
        <div class="card-text-primary">
          <h2 class="title">Our Changing Planet</h2>
          <h3 class="subtitle">by Kurt Wagner</h3>
        </div>
        <div class="card-text-secondary">
          <p>
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
      </div>
      <div class="card-controls">
        <div class="btn-container">
          <a class="btn" href="#">READ</a>
          <a class="btn" href="#">BOOKMARK</a>
        </div>
        <div class="icon-container">
          <i class="icon far fa-heart"></i>
          <i class="icon fas fa-share-alt"></i>
          <i class="icon fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <!-- Horizontal Image and Text -->
    <h2 class="header-primary">Horizontal Image and Text</h2>
    <div class="card horizontal">
      <div class="card-content">
        <img
          class="card-banner"
          src="https://i.picsum.photos/id/1041/5184/2916.jpg?hmac=TW_9o6HeD7H7I7NVo-S1Fa1iAvzQ10uvmJqsXvNoi0M"
        />
        <div class="card-text-primary">
          <h2 class="title">Our Changing Planet</h2>
          <h3 class="subtitle">by Kurt Wagner</h3>
        </div>
        <div class="card-text-secondary">
          <p>
            Visit ten places on our planet that are undergoing the biggest
            changes today.
          </p>
        </div>
      </div>
      <div class="card-controls">
        <div class="btn-container">
          <a class="btn" href="#">READ</a>
          <a class="btn" href="#">BOOKMARK</a>
        </div>
        <div class="icon-container">
          <i class="icon far fa-heart"></i>
          <i class="icon fas fa-share-alt"></i>
          <i class="icon fas fa-ellipsis-v"></i>
        </div>
      </div>
    </div>
  </body>
</html>
