<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./Dialog.css" />
    <title>Dialog</title>
  </head>
  <body>
    <h2 class="heading-center">Alert Dialog</h2>
    <div class="dialog">
      <div class="dialog-header">
        <h2 class="dialog-title">Dialog Title</h2>
        <p class="dialog-text">Dialog text</p>
      </div>
      <div class="dialog-body"></div>
      <div class="dialog-btn-container">
        <button class="btn dialog-action-btn">ACTION 1</button>
        <button class="btn dialog-action-btn">ACTION 2</button>
      </div>
    </div>

    <h2 class="heading-center">Simple Dialog</h2>
    <div class="dialog">
      <div class="dialog-header">
        <h2 class="dialog-title">Dialog Title</h2>
        <p class="dialog-text"></p>
      </div>
      <ul class="dialog-body">
        <li>
          <span class="material-icons"> account_circle </span>
          <span>Item 1</span>
        </li>
        <li>
          <span class="material-icons"> account_circle </span>
          <span>Item 1</span>
        </li>
        <li>
          <span class="material-icons"> account_circle </span>
          <span>Item 1</span>
        </li>
      </ul>
    </div>
  </body>
</html>
