<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./Snackbar.css" />
    <title>Snackbar</title>
  </head>
  <body>
    <h1>Snackbar</h1>
    <button class="btn">Show Snackbar</button>
    <div class="snackbar hide">
      <p class="snackbar-text">This is a snackbar</p>
      <span class="material-icons btn-close-snackbar"> close </span>
    </div>
    <script src="./Snackbar.js"></script>
  </body>
</html>
