<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Tab.css" />
    <title>Tab</title>
  </head>
  <body>
    <h2>Fixed</h2>
    <ul class="tabs-container">
      <li data-uid="1" class="tab">TAB ONE</li>
      <li data-uid="2" class="tab">TAB TWO</li>
      <li data-uid="3" class="tab">TAB TWO</li>
    </ul>
    <h2>Scrollable</h2>
    <ul class="tabs-container scrollable">
      <li class="tab"></li>
      <li class="tab">apple</li>
      <li class="tab">mango</li>
      <li class="tab">banana</li>
      <li class="tab">grapes</li>
      <li class="tab">guava</li>
      <li class="tab">strawberry</li>
      <li class="tab">blueberry</li>
      <li class="tab">orange</li>
    </ul>
    <script src="./Tab.js"></script>
  </body>
</html>
